footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 35px;
    background-color: #eee;
    font-size: .7rem;
    padding: 5px;

    .hotpink {
        background-color: hotpink;
        color: #fff;
        padding: 0 5px;
        border-radius: 5px;
        font-family: 'Pacifico', cursive;
        font-size: .9rem;
        float: right;
    }

    a {
        color: #222;
    }
}