@keyframes slideFromLeft {
    0% {
        left: -100vw;
    }

    40% {
        left: -90vw;
    }

    100% {
        left: 0
    }
}

@keyframes slideFromTop {
    from {
        top: -100vw;
    }

    to {
        top: 0
    }
}