@import url("https://fonts.googleapis.com/css?family=Lobster|Space+Mono");
:root {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../images/contest.jpg);
  background-size: cover;
  background-position: 50% 0;
  height: 100vh;
  font-family: 'Space Mono', monospace;
  text-align: center;
  background-attachment: fixed;
  padding: 5vh 20px; }

#countdown {
  width: 90vw;
  margin: 0 auto 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  position: relative;
  animation-duration: 2s;
  animation-name: slideFromTop; }
  #countdown h3 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 15px; }
  #countdown .flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  #countdown .countdownDisplay {
    margin-top: 20px; }
    #countdown .countdownDisplay .flexbox-item {
      background-color: black;
      padding: 10px; }
      #countdown .countdownDisplay .flexbox-item .label {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-bottom: 10px;
        border-bottom: 1px dashed white; }
        @media screen and (max-width: 530px) {
          #countdown .countdownDisplay .flexbox-item .label {
            font-size: .8rem; } }
        @media screen and (max-width: 410px) {
          #countdown .countdownDisplay .flexbox-item .label {
            font-size: .5rem; } }
      #countdown .countdownDisplay .flexbox-item .number {
        font-size: 6rem;
        font-weight: bold; }
        @media screen and (max-width: 730px) {
          #countdown .countdownDisplay .flexbox-item .number {
            font-size: 2.5rem; } }
        @media screen and (max-width: 530px) {
          #countdown .countdownDisplay .flexbox-item .number {
            font-size: 1.5rem; } }
        @media screen and (max-width: 410px) {
          #countdown .countdownDisplay .flexbox-item .number {
            font-size: 1.1rem; } }

.apply {
  margin: auto;
  background-color: white;
  color: black;
  font-family: Lobster, cursive;
  font-size: 1.3rem;
  padding: 15px;
  border: none;
  border-radius: 7px;
  transition: all 1s;
  animation-name: slideFromLeft;
  animation-duration: 6s;
  position: relative; }
  .apply:hover {
    color: white;
    background-color: black; }

@keyframes slideFromLeft {
  0% {
    left: -100vw; }
  40% {
    left: -90vw; }
  100% {
    left: 0; } }

@keyframes slideFromTop {
  from {
    top: -100vw; }
  to {
    top: 0; } }
